[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pradipta Kumar Sahoo (pradiptapks)
[access "refs/for/refs/*"]
	read = group user/Pradipta Kumar Sahoo (pradiptapks)
	push = group user/Pradipta Kumar Sahoo (pradiptapks)
	label-Code-Review = -2..+2 group user/Pradipta Kumar Sahoo (pradiptapks)
	label-Verified = -1..+1 group user/Pradipta Kumar Sahoo (pradiptapks)
	rebase = group user/Pradipta Kumar Sahoo (pradiptapks)
	removeReviewer = group user/Pradipta Kumar Sahoo (pradiptapks)
	submit = group user/Pradipta Kumar Sahoo (pradiptapks)
[access "refs/heads/*"]
	read = group user/Pradipta Kumar Sahoo (pradiptapks)
	create = group user/Pradipta Kumar Sahoo (pradiptapks)
	push = +force group user/Pradipta Kumar Sahoo (pradiptapks)
	pushMerge = group user/Pradipta Kumar Sahoo (pradiptapks)
[access "refs/tags/*"]
	push = group user/Pradipta Kumar Sahoo (pradiptapks)
	push = +force group user/Pradipta Kumar Sahoo (pradiptapks)
